/* * * * * * * * * * * * * * * * * * * * * * * * * */
/* MainController css file goes here                         */
/* (c) All rights reserved to DreamVibe Community  */
/* * * * * * * * * * * * * * * * * * * * * * * * * */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

:root {
  /* Background colors */
  --body-bg: #272b3b;
  --menu-bg: #2b2e44;
  --menu-icon-bg: #323550;
  --menu-item-hover-bg: #3e445b95;
  --content-bg: #30334c;
  --footer-bg: #232535;
  --form-input-bg: #3d4160;

  /* Text colors */
  --text-color: #fff;
  --text-hover-color: #448aff;
  --nav-title-color: #8e97bf;
  --text-color-secondary: #6273bb;

  /* info colors */
  --danger-color: #DA6572;
  --warning-color: #F3B911;
  --info-color: #0DB2CC;
  --success-color: #29CC5F;

  /* info borders */
  --danger-border: #B9434F;
  --warning-border: #CA9805;
  --info-border: #0BA3BB;
  --success-border: #25A750;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3b425e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-hover-color);
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 12px;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--body-bg);
  background-image: url(../img/panel-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: var(--text-color);
  transition: all .2s ease-in-out;
}

a:hover {
  color: var(--text-hover-color);
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

pre {
  color: var(--text-color);
}

.list-style-none {
  list-style: none;
}

.text-align-center {
  text-align: center;
}

.dv-bg-color {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(45deg, #E9405705, #8A238707 80%);
  z-index: -1;
}

.dv-visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

/* MainController menu */
.dv-main-menu {
  background-color: var(--menu-bg);
  width: 270px;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  /*box-shadow: 0 0 10px 1px #00000060;*/
  z-index: 999;
  overflow-y: hidden;
}

.dv-main-menu:hover {
  overflow-y: scroll;
}

.dv-main-menu:hover .dv-menu-content {
  margin-right: -5px;
}

/* Logo */
.dv-main-menu .dv-logo {
  text-align: center;
  font-size: 1.6rem;
}

/* User bar */
.dv-main-menu .dv-user-bar .dv-user-welcome {
  text-align: center;
  margin-top: 10px;
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-color: var(--menu-icon-bg);
  border-radius: 50%;
  border: 2px solid #6b7bbf40;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-avatar:hover {
  border-color: var(--text-hover-color);
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-avatar .dv-logged-img {
  height: 300%;
  object-fit: cover;
  position: relative;
  top: -15px;
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-avatar,
.dv-main-menu .dv-user-bar .dv-user-welcome .dv-welcome-text {
  display: block;
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-welcome-text {
  margin-top: 5px;
  font-size: 14px;
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-controls {
  margin-top: 5px;
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-controls ul {
  padding: 0;
  margin: 0;
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-controls ul li {
  display: inline-block;
}

.dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-controls ul li a i {
  font-size: 1.6rem;
  margin: 0 7px;
}

/* Navbar */
@media (min-width: 992px) {
  #dreamvibe-navbar {
    display: block !important;
  }
}

.dv-main-menu .dv-navbar {
  margin-top: 15px;
}

.dv-main-menu .dv-navbar .navbar-toggler {
  margin: 0 auto;
}

.dv-main-menu .dv-navbar .dv-nav-group {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #3d4261;
}

.dv-main-menu .dv-navbar .dv-nav-group:nth-child(1)
{
  margin-top: 0;
}

.dv-main-menu .dv-navbar .dv-nav-group:last-child {
  border-bottom: 0;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav {
  margin: 0;
  padding: 0;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav-title {
  color: var(--nav-title-color);
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav .dv-nav-item {
  display: block;
  margin: 6px 0;
  position: relative;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav .dv-nav-item .dv-nav-link.dv-collapse::after {
  content: '\f107';
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 1.4rem;
  color: var(--text-color-secondary);
  display: inline-block;
  float: right;
  transition: all .2s ease-in-out;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav .dv-nav-item:hover .dv-nav-link.dv-collapse::after {
  color: var(--text-hover-color);
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav .dv-nav-item .dv-nav-link {
  display: block;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  padding-right: 10px;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav .dv-nav-item:hover .dv-nav-link {
  color: var(--text-hover-color);
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav .dv-nav-item .dv-nav-link .dv-nav-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-color-secondary);
  background-color: var(--menu-icon-bg);
  margin-right: 3px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav .dv-nav-item:hover .dv-nav-link .dv-nav-icon {
  color: var(--text-hover-color);
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav-collapse {
  padding-left: 20px;
  margin-top: 5px;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav-collapse .dv-nav-collapse-item {
  margin: 5px 0;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav-collapse .dv-nav-collapse-item .dv-nav-collapse-link {
  display: block;
  padding: 5px 10px 5px 0;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav-collapse .dv-nav-collapse-item .dv-nav-collapse-link .dv-nav-collapse-icon {
  font-size: 1.2rem;
  vertical-align: middle;
  width: 20px;
  text-align: center;
  color: var(--text-color-secondary);
  position: relative;
  top: -1px;
  transition: all .2s ease-in-out;
}

.dv-main-menu .dv-navbar .dv-nav-group .dv-nav-collapse .dv-nav-collapse-item:hover .dv-nav-collapse-link .dv-nav-collapse-icon {
  color: var(--text-hover-color);
}

/* MainController content */
.dv-main {
  min-height: 100%;
}

.dv-main-content {
  width: calc(100% - 270px);
  margin-left: 270px;
  padding: 30px 40px 100px 40px;
}

.dv-row {
  margin-bottom: 20px;
}

.dv-page-title {
  margin-bottom: 10px;
}

/* MainController feed */
.dv-main-feed {
  background: var(--content-bg);
  border-radius: 5px;
}

.dv-main-feed .nav-link {
  padding: 1rem 1.5rem;
  border: 0;
  font-size: 1.1rem;
}

.dv-main-feed .nav-tabs {
  border-bottom: 2px solid #4c507d99;
}

.dv-main-feed .nav-tabs .nav-item {
  margin-bottom: -2px;
}

.dv-main-feed .nav-tabs .nav-item.show .nav-link,
.dv-main-feed .nav-tabs .nav-link.active {
  background: var(--text-hover-color);
  color: var(--text-color);
}

.dv-main-feed .nav-tabs .nav-link {
  font-weight: 600;
}

.dv-main-feed .tab-content {
  padding: 15px;
}

/* Latest actions */
.dv-main-feed .dv-general-fh {
  padding: 0;
  margin: 0;
}

.dv-main-feed .dv-general-fh .dv-general-fh-item {
  margin-bottom: 15px;
}

.dv-main-feed .dv-general-fh .dv-general-fh-item:last-child {
  margin-bottom: 0;
}

.dv-main-feed .dv-general-fh .dv-general-fh-item img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  display: inline-block;
  margin-right: 3px;
}

.dv-main-feed .dv-general-fh .dv-general-fh-item img,
.dv-main-feed .dv-general-fh .dv-general-fh-item .dv-general-fh-text {
  display: inline-block;
  vertical-align: middle;
}

.dv-main-feed .dv-general-fh .dv-general-fh-item p {
  margin: 0;
}

/* Flash messages */
.dv-message {
  width: 100%;
  background: url(../img/bg-lines.png) repeat-x #95A5A6;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 5px;
}

.dv-message i,
.dv-message span {
  vertical-align: middle;
}

.dv-message i {
  font-size: 1.4rem;
  margin-right: 5px;
}

.dv-message span {
  font-weight: bold;
}

.dv-message.success {
  background-color: var(--success-color);
}

.dv-message.info {
  background-color: var(--info-color);
}

.dv-message.danger {
  background-color: var(--danger-color);
}

.dv-message.warning {
  background-color: var(--warning-color);
}

/* Server stats widget */
.dv-server-stats {
  width: 100%;
}

.dv-server-stats .dv-server-stats-item {
  text-align: center;
  padding: 25px 0;
  border-radius: 5px;
  position: relative;
  border-left: 3px solid transparent;
  overflow: hidden;
  cursor: default;
  transition: all .2s ease-in-out;
}

.dv-server-stats .dv-server-stats-item i {
  font-size: 1.8rem;
  vertical-align: middle;
  margin-right: 3px;
  transition: all .2s ease-in-out;
}

.dv-server-stats .dv-server-stats-item .dv-first {
  font-size: 1.2rem;
  font-weight: bold;
  vertical-align: middle;
  transition: all .2s ease-in-out;
}

.dv-server-stats .dv-server-stats-item .dv-second {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

.dv-server-stats .dv-server-stats-item:hover i,
.dv-server-stats .dv-server-stats-item:hover .dv-first{
  opacity: 0;
  visibility: hidden;
}

.dv-server-stats .dv-server-stats-item:hover .dv-second {
  opacity: 1;
  visibility: visible;
}

.dv-server-stats .row .col-lg-3.col-md-6.col-sm-12:nth-child(1) .dv-server-stats-item {
  border-left-color: var(--info-border);
  background: linear-gradient(to right, var(--content-bg) 50%, #0ba3bb 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.dv-server-stats .row .col-lg-3.col-md-6.col-sm-12:nth-child(2) .dv-server-stats-item {
  border-left-color: var(--danger-border);
  background: linear-gradient(to right, var(--content-bg) 50%, #b9434f 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.dv-server-stats .row .col-lg-3.col-md-6.col-sm-12:nth-child(3) .dv-server-stats-item {
  border-left-color: var(--warning-border);
  background: linear-gradient(to right, var(--content-bg) 50%, #ca9805 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.dv-server-stats .row .col-lg-3.col-md-6.col-sm-12:nth-child(4) .dv-server-stats-item {
  border-left-color: var(--success-border);
  background: linear-gradient(to right, var(--content-bg) 50%, #25a750 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.dv-server-stats .row .col-lg-3.col-md-6.col-sm-12 .dv-server-stats-item:hover {
  background-position: right bottom;
}

/* Footer */
.dv-footer {
  text-align: center;
  min-height: 70px;
  padding: 20px 0px;
  background-color: var(--footer-bg);
  position: relative;
  clear: both;
  margin-top: -70px;
  margin-left: 270px;
}

.dv-footer .dv-copyright {
  padding: 0 20px;
}

.dv-footer .dv-copyright p {
  margin: 0;
}

.dv-footer .dv-copyright p a {
  font-weight: bold;
}

.dv-footer i.fa-heart {
  color: #ff4d4d;
}

.dv-footer i.fa-coffee {
  color: #0099ff;
}

/* Change language */
.dv-choose-lang a {
  display: inline-block;
  margin: 0 5px 10px 5px;
}

.dv-choose-lang a img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all .2s ease-in-out;
}

.dv-choose-lang a:hover img,
.dv-choose-lang a.active img {
  border-color: var(--text-hover-color);
}

/* Login */
.login {
  border-radius: 10px;
  border: none;
  padding: 25px;
  background: var(--content-bg);
  position: relative;
  margin: 50px auto;
}

.login .login-icon {
  background: #448aff99;
  color: var(--text-color);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 60px;
  margin: 0 auto
}

.login .login-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  top: 15px
}

.login .login-form {
  font-size: 18px;
  color: #fff!important;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px 0 38px;
  border: none;
  border-bottom: 2px solid #ffffff40
}

.login .login-form::-webkit-input-placeholder {
  color: #fff
}

.login .login-form::-moz-placeholder {
  color: #fff
}

.login .login-form:-ms-input-placeholder {
  color: #fff
}

.login .login-form::-ms-input-placeholder {
  color: #fff
}

.login .login-form::placeholder {
  color: #fff
}

.login .login-form:focus {
  outline: 0;
  padding-left: 5px
}

.login .login-form:focus+.login-span:before {
  bottom: 38px;
  font-size: 14px
}

.login .login-form:focus-within+.login-span:after {
  width: 100%!important
}

.login .login-form:focus::-webkit-input-placeholder {
  color: transparent
}

.login .login-form:focus::-moz-placeholder {
  color: transparent
}

.login .login-form:focus:-ms-input-placeholder {
  color: transparent
}

.login .login-form:focus::-ms-input-placeholder {
  color: transparent
}

.login .login-form:focus::placeholder {
  color: transparent
}

.login .login-group {
  position: relative;
  margin-bottom: 2.5rem;
}

.login .login-span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none
}

.login .login-span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background: #fff
}

.login .username:before {
  content: "\f007";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 16px;
  position: absolute;
  bottom: 13px;
  color: #fff;
  left: 5px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s
}

.login .password:before {
  content: "\f084";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 16px;
  position: absolute;
  bottom: 13px;
  color: #fff;
  left: 5px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s
}

.login p {
  font-size: 1.2rem;
}

.login p a {
  color: #448aff99;
}

.login p a:hover {
  color: var(--text-hover-color);
}

.login .login-btn {
  color: var(--text-color);
  background: #448aff99;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 20px;
  height: 50px;
  border-radius: 25px;
  outline: 0;
  border: none;
  margin: 0 auto;
  position: relative;
  display: block;
}

.login-focused {
  outline: 0;
  padding-left: 5px!important
}

.login-focused+.login-span:before {
  bottom: 38px!important;
  font-size: 14px!important
}

.login-focused+.login-span:after {
  width: 100%!important
}

.login .invalid-feedback {
  position: absolute;
}

/* User profile */
.dv-user-profile .dv-user-profile-main {
  text-align: center;
}

.dv-user-profile .dv-user-profile-main .dv-user-profile-skin {
  height: 480px;
  width: 240px;
  object-fit: cover;
  object-position: center -20px;
}

.dv-user-profile .dv-user-profile-info {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.dv-user-profile .dv-user-profile-info .dv-user-info-group {
  margin-bottom: 15px;
  position: relative;
}

.dv-user-profile .dv-user-profile-info .dv-user-info-group::before {
  content: '\f292';
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  position: absolute;
  font-size: 3rem;
  left: -13px;
  top: -4px;
  color: #435ebb30;
  z-index: -1;
}

.dv-user-profile .dv-user-profile-info .dv-user-info-group span {
  display: block;
}

.dv-user-profile .dv-user-profile-info .dv-user-info-group .dv-second {
  color: var(--text-color-secondary);
  font-size: 1.4rem;
}

.dv-user-groups .dv-user-single-group {
  background-color: #5060a2;
  padding: 4px 10px;
  width: fit-content;
  border-radius: 5px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.dv-user-groups .dv-user-single-group .dv-user-group-icon,
.dv-user-groups .dv-user-single-group .dv-user-group-title {
  vertical-align: middle;
}

.dv-user-groups .dv-user-single-group .dv-user-group-icon {
  font-size: 1.2rem;
}

.dv-user-groups .dv-user-single-group .dv-user-group-title {
  font-weight: bold;
}

.dv-owner {
  background-color: #d54d40 !important;
}

.dv-admin {
  background-color: #4081ee !important;
}

.dv-faction-leader {
  background-color: #23d706 !important;
}

.dv-support {
  background-color: #586bbb !important;
}

.dv-vip {
  background-color: #eab209 !important;
}

.dv-row-title {
  text-shadow: 0 12px 25px #6d88f8;
  width: fit-content;
  margin-bottom: 15px;
}

.dv-row-title::after {
  content: '';
  display: block;
  width: 120%;
  height: 2px;
  background-color: #6d88f8;
  margin-top: 5px;
}

.dv-user-profile .dv-user-properties .dv-user-property {
  position: relative;
  margin-left: 45px;
  margin-bottom: 15px;
}

.dv-user-profile .dv-user-properties .dv-user-property::before {
  content: '\f27a';
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 5rem;
  color: #435ebb30;
  position: absolute;
  top: -7px;
  left: -30px;
  z-index: -1;
}

.dv-house::before {
  content: '\f015' !important;
}

.dv-business::before {
  content: '\f1ad' !important;
}

.dv-vehicle::before {
  content: '\f5de' !important;
}

.dv-user-profile .dv-user-properties .dv-user-property .dv-second {
  color: #6577c3;
}

.dv-user-fh {
  margin-left: 15px;
}

.dv-user-fh .dv-user-fh-item {
  margin-bottom: 10px;
}

.dv-user-fh .dv-user-fh-item .dv-user-fh-avatar,
.dv-user-fh .dv-user-fh-item .dv-user-fh-text {
  display: inline-block;
  vertical-align: middle;
}

.dv-user-fh .dv-user-fh-item .dv-user-fh-avatar {
  width: 45px;
  height: 45px;
  background-color: var(--text-color-secondary);
  border-radius: 50%;
  border: 2px solid transparent;
  overflow: hidden;
  margin-right: 3px;
}

.dv-user-fh .dv-user-fh-item .dv-user-fh-avatar img {
  height: 300%;
  object-fit: cover;
  position: relative;
  top: -5px;
}

.dv-user-fh .dv-user-fh-item .dv-user-fh-text {
  width: calc(100% - 52px);
}

.dv-user-fh .dv-user-fh-item .dv-user-fh-text p {
  margin: 0;
  padding: 0;
}

.dv-user-profile .dv-user-profile-controls {
  width: fit-content;
}

.dv-user-profile .dv-btn {
  display: block;
  margin-bottom: 10px;
}

.dv-btn {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 0.75rem;
}

.dv-user-weapon-skills {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 15px;
}

.dv-user-weapon-skills .dv-weapon-single {
  margin-bottom: 10px;
}

.dv-user-weapon-skills .dv-weapon-single .progress {
  width: 85%;
}

.dv-progress {
  background-color: #3d4160;
}

.dv-progress .dv-progress-color {
  background-color: #6882ec;
}

.dv-secret-actions {
  text-align: right;
}

/* Responsive profile */
@media screen and (max-width: 1366px) {
  .dv-user-profile .dv-user-profile-info {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 991px) {
  .dv-user-profile .dv-user-profile-main .dv-user-profile-skin {
    height: 150px;
    width: 100px;
    object-position: center -7px;
  }
}

@media screen and (max-width: 576px) {
  .dv-user-profile .dv-user-profile-info {
    grid-template-columns: 100%;
  }
}

/* Groups page */
.dv-create-group .dv-form .form-control[type="text"] {
  width: 30%;
}

.dv-create-group .dv-form .form-group {
  margin-left: 15px;
}

.dv-create-group .dv-form label,
.dv-create-group .dv-form .form-control {
  display: inline-block;
  vertical-align: middle;
}

.dv-create-group .dv-form label {
  margin-right: 5px;
}

.dv-create-group .dv-form label:first-child {
  min-width: 250px;
  font-weight: 600;
  text-align: right;
}

.dv-create-group .dv-form .form-group .invalid-feedback {
  margin-left: 260px;
  width: fit-content;
}

/* Data tables design */
#dvTable_wrapper .dataTables_length select {
  background: var(--form-input-bg);
  color: var(--text-color);
  padding: .375rem .5rem;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0 3px;
}

#dvTable_wrapper .dataTables_length select:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--text-hover-color);
}

#dvTable_wrapper .dataTables_filter label {
  color: var(--text-color);
  margin-bottom: 15px;
}

#dvTable_wrapper .dataTables_filter input {
  background-color: var(--form-input-bg);
  color: var(--text-color);
  padding: .375rem .5rem;
  border: 1px solid transparent;
  border-radius: 3px;
}

#dvTable {
  margin: 15px 0;
}

#dvTable_wrapper .dataTables_filter input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--text-hover-color);
}

#dvTable.no-footer {
  border: 0;
}

#dvTable thead {
  background-color: var(--form-input-bg);
}

#dvTable thead th,
#dvTable thead td {
  padding: 1.1rem 1.5rem;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#dvTable tbody th,
#dvTable tbody td {
  padding: .85rem 1.5rem;
}

#dvTable.display tbody tr.odd>.sorting_1,
#dvTable.order-column.stripe tbody tr.odd>.sorting_1,
#dvTable.stripe tbody tr.odd,
#dvTable.display tbody tr.odd,
#dvTable.display tbody tr.even>.sorting_1,
#dvTable.order-column.stripe tbody tr.even>.sorting_1,
#dvTable tbody tr{
  background-color: var(--content-bg);
}

#dvTable.row-border tbody th,
#dvTable.row-border tbody td,
#dvTable.display tbody th,
#dvTable.display tbody td {
  border-color: #3d4261;
}

#dvTable_wrapper .dataTables_length,
#dvTable_wrapper .dataTables_filter,
#dvTable_wrapper .dataTables_info,
#dvTable_wrapper .dataTables_processing,
#dvTable_wrapper .dataTables_paginate,
#dvTable_wrapper .dataTables_paginate .paginate_button.disabled,
#dvTable_wrapper .dataTables_paginate .paginate_button.disabled:hover,
#dvTable_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: var(--text-color) !important;
}

#dvTable_wrapper .dataTables_paginate .paginate_button.current,
#dvTable_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: var(--text-color) !important;
  background: var(--text-hover-color);
  border: 0;
}

.dv-action-btn {
  margin-right: 10px;
}

/* Forms */
.dv-form label {
  margin-bottom: .275rem;
}

.dv-form .form-control {
  background-color: var(--form-input-bg);
  color: var(--text-color);
  height: calc(1.5em + 1rem + 2px);
  border-color: transparent;
  padding: .375rem 1rem;
  border-radius: 5px;
}

.dv-form .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--text-hover-color);
}

.dv-form button[type="submit"] {
  padding: .6rem 3.6rem;
}

/* The switch - the box around the slider */
.dv-switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.dv-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.dv-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--form-input-bg);
  -webkit-transition: .4s;
  transition: .4s;
}

.dv-switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.dv-switch input:checked + .dv-switch-slider {
  background-color: var(--text-hover-color);
}

.dv-switch input:checked + .dv-switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.dv-switch-slider.dv-round {
  border-radius: 34px;
}

.dv-switch-slider.dv-round:before {
  border-radius: 50%;
}

/* General responsive things */
@media screen and (max-width: 991px) {
  .dv-main-menu {
    position: relative;
    height: auto;
    width: 100%;
  }

  .dv-main-menu .dv-logo {
    font-size: 1.4rem;
  }

  .dv-main-menu .dv-navbar {
    margin-top: 0;
  }

  .dv-main-content {
    width: 100%;
    margin-left: 0;
  }

  .dv-main-menu .dv-user-bar .dv-user-welcome {
    text-align: left;
  }

  .dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-avatar,
  .dv-main-menu .dv-user-bar .dv-user-welcome .dv-welcome-text {
    display: inline-block;
    vertical-align: middle;
  }

  .dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-avatar {
    width: 40px;
    height: 40px;
  }

  .dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-avatar .dv-logged-img {
    top: -4px;
  }

  .dv-main-menu .dv-user-bar .dv-user-welcome .dv-welcome-text {
    margin-top: 0;
    margin-left: 3px;
  }

  .dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-controls {
    width: fit-content;
    float: right;
  }

  .dv-main-menu .dv-user-bar .dv-user-welcome .dv-user-controls ul li a i {
    font-size: 1.4rem;
    vertical-align: middle;
  }

  .dv-server-stats .dv-server-stats-item {
    margin-bottom: 10px;
  }

  .dv-main-feed .dv-general-fh .dv-general-fh-item .dv-general-fh-text {
    width: calc(100% - 52px);
  }

  .dv-footer {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .dv-main-content {
    padding: 30px 30px 100px 30px;
  }
}